.note-section {
  margin-bottom: 20px;
  padding: 0 16px;
}

.note-section-header {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.note-section-spinner {
  width: 1.5em;
  height: 1.5em;
  border: 0.2em solid #f3f3f3;
  border-top: 0.2em solid var(--btn-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* RESPONSIVE */

/* TABLET */
@media (min-width: 768px) {
  .note-section {
    padding: 0 50px;
  }

  .section-title {
    font-size: 20px;
  }
}

/* DESKTOP: lg */
@media (min-width: 1024px) {
  .note-section {
    padding: 0 200px;
  }
}
