.note-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white-bg-color);
  border: 1px solid grey;
  border-radius: 8px;
  width: 220px;
  min-height: 130px;
  padding: 12px;
}

.note-list.list-view .note-card {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
}

.note-card-title {
  margin-bottom: 6px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 6px;
}

.note-card-labels {
  background-color: var(--btn-color);
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
  color: var(--white-bg-color);
  margin-top: 4px;
  display: inline-block;
  width: fit-content;
  margin-bottom: 5px;
  white-space: nowrap;
}

.note-card-content {
  font-size: 14px;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-options {
  position: absolute;
  top: 15px;
  right: 12px;
  cursor: pointer;
}

.note-options:hover {
  color: var(--icon-hover);
}

.note-menu {
  /* display: none; */
  position: absolute;
  top: 35px;
  right: 20px;
  background-color: var(--white-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  min-width: 160px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
}

.menu-item:hover {
  background-color: var(--icon-hover);
}

.deleteNote-icon {
  color: var(--icon-delete);
}

.note-card.locked-note {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--label-bg);
  border-radius: 8px;
  padding: 16px;
}

/* DELTE NOTE CONFIRMATION */
.deleteNote-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 0;
  background-color: var(--white-bg-color);
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
}

.deleteNote-hidden {
  display: none;
}

.deleteNote-popup-box {
  background-color: var(--white-bg-color);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.deleteNote-popup-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.deleteNote-popup-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteNote-popup-buttons button:hover {
  opacity: 0.9;
}

#cancel-delete-note {
  background-color: #ccc;
  color: #333;
}

#confirm-delete-note.danger {
  background-color: #e74c3c;
  color: #fff;
}

/* CHANGE NOTE'S PASSWORD POPUP */
/* Popup container */
.changePwd-popup .changePwd-popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white-bg-color);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.changePwd-popup-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.change-password-form label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
}

.change-password-form input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-top: 4px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
}

.changePwd-cancel-btn,
.changePwd-update-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.changePwd-cancel-btn {
  background-color: var(--border-color);
  color: var(--text-color);
}

.changePwd-cancel-btn:hover {
  background-color: var(--label-bg);
}

.changePwd-update-btn {
  background-color: var(--btn-color);
  color: white;
}

.changePwd-update-btn:hover {
  background-color: var(--btn-hover);
}

/* RESPONSIVE */

/* TABLET */
@media (min-width: 768px) {
  .note-title,
  .note-content {
    font-size: 16px;
  }

  .note-card {
    padding: 12px;
  }

  .changePwd-popup .changePwd-popup-content {
    width: 80%;
    max-width: 450px;
    padding: 24px;
  }

  .changePwd-popup-title {
    font-size: 20px;
  }

  .change-password-form input {
    font-size: 15px;
  }

  .changePwd-cancel-btn,
  .changePwd-update-btn {
    font-size: 15px;
  }
}

/* DESKTOP: lg */
@media (min-width: 1024px) {
}
